@import "utils/mixins.scss";
@import "utils/variable.scss";



.header {
    
    font-family: 'Shrikhand', cursive;
    height: 80px;
    @include flexCentre;
    width: 100%;
}
.localisation {
    
    @include flexCentre;
    background-color: greenyellow;
    }

.image1{
    width: 200px;
    height: 100px;
}


    


