/*POSITIONNEMENT*/
@mixin flexAround{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@mixin flexBetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin flexCentre{
    display: flex;
    justify-content: center;
    align-items: center;
}