

/*COULEURS*/
$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;
$couleur-background-primaire:#F3F3F3;
$couleur-background-secondaire: #FAFAFA;

/*POSITIONNEMENTS*/
